.multiContainer {
  display: flex;
  flex-wrap: wrap;
}

.question__option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 120px;
  margin: 0 35px 5px 0;
  border-radius: 2px;
  color: rgb(97, 93, 93);
  cursor: pointer;
  border-bottom: 3px solid #76c3e2;
}

.question__option:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: background-color 60ms linear;
}

.question__option__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 120px;
  margin: 0 35px 5px 0;
  border-radius: 2px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  border: none;
}
