.rankContainer {
  display: flex;
  min-height: 5em;
  margin-bottom: 1em;
}

.question__option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0 10px 5px 0;
  border-radius: 35px;
  background-color: #968883;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.question__option:hover {
  background-color: var(--main-color);
  transition: background-color 120ms linear;
}

.question__option__selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0 10px 5px 0;
  border-radius: 35px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
