.tallyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6em;
  height: 6em;
  margin: 1em 2em 1em 0;
  box-shadow: 0 0 5px -3px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
}

.questionText {
  margin-block-end: 0;
}
